<div class="row" *ngIf="isLoadingResults">
  <mat-progress-bar mode="indeterminate">We are getting all your travels.....</mat-progress-bar>
</div>
<div class="row" *ngIf="!isLoadingResults">
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="card border-primary mb-3" style="max-width: 30rem;">
        <div class="card-header">Add More Photos</div>
        <div class="card-body">
          <form [formGroup]="galleryForm" (submit)="onFormSubmit()">
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Gallery Image</mat-label>
                <ngx-mat-file-input formControlName="imageFile" placeholder="Select image" valuePlaceholder="No image"
                  [errorStateMatcher]="matcher">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-error>
                  <span *ngIf="!galleryForm.get('imageFile').valid">Please select image file</span>
                </mat-error> 
              </mat-form-field>
              <mat-form-field color="accent" appearance="outline">
                <mat-label>Image Description</mat-label>
                <input matInput placeholder="Image Description" formControlName="imageDesc"
                  [errorStateMatcher]="matcher"/>
              </mat-form-field><br>
              <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-lg-4" style="max-height: 100vh;">
    <div>
      <ngx-image-swiper [config]="swiperConfig" [images]="images" ></ngx-image-swiper>
    </div>
  </div>-->
  <div class="col-lg-4"  *ngFor="let image of travelGallery">
    <div class="bs-component" >
        <div class="card border-primary mb-3" style="max-width: 40rem;">
          <div class="card-body">
            <img mat-card-image src="{{ image.imageUrl }}" alt="" width="100%"/>
            <p class="card-text">{{ image.imageDesc }}</p>
          </div>
        </div>
    </div>
  </div>
  
</div>

