<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 60rem;">
                <div class="card-header card-title"><strong>Register</strong></div>
                <form (submit)="onRegisterSubmit()" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <mat-form-field color="accent" appearance="outline">
                                            <mat-label class="mb-1">Name</mat-label>
                                            <input required type="text" matInput [(ngModel)]="name" name="name" class="form-control"/>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <mat-form-field color="accent" appearance="outline">
                                            <mat-label class="mb-1">UserName</mat-label>
                                            <input required type="text" matInput [(ngModel)]="username" name="username" class="form-control" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <mat-form-field color="accent" appearance="outline">
                                            <mat-label class="mb-1">Email</mat-label>
                                            <input required type="text" matInput [(ngModel)]="email" name="email" class="form-control" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <mat-form-field color="accent" appearance="outline">
                                            <mat-label class="mb-1">Date of Birth</mat-label>
                                            <input required readonly name="dob" [(ngModel)]="dob" matInput [matDatepicker]="picker2" class="form-control">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <mat-form-field color="accent" appearance="outline">
                                            <mat-label class="mb-1">Password</mat-label>
                                            <input required type="password" matInput [(ngModel)]="password" name="password" class="form-control" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <mat-form-field color="accent" appearance="outline">
                                            <mat-label class="mb-1">Interests</mat-label>
                                            <input type="text" matInput [(ngModel)]="interests" name="interests" class="form-control" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <mat-form-field color="accent" appearance="outline">
                                        <mat-label class="mb-1">Tell us about yourself</mat-label>
                                        <textarea type="text" rows="4" matInput [(ngModel)]="scribble" name="scribble" class="form-control" ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit">    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
