<div class="row">
 <h2 class="mr-auto">Your Travels</h2>
  <div class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="search travel here.." [(ngModel)]="searchString" (input)="searchTravel()">
  </div>
</div>
<br>  
<!-- this div adds new travel. Show only when user is not searching -->
<app-travel *ngIf="!searchString"></app-travel>
<!-- this div shows loading bar -->
<div class="row" *ngIf="isLoadingResults">
  <mat-progress-bar mode="indeterminate">We are getting all your travels.....</mat-progress-bar>
</div>
<!-- this div shows travel cards -->
<div class="row" *ngIf="!isLoadingResults">
  <div class="col-lg-3" *ngFor="let travel of filteredTravels">
    <div class="bs-component">
      <div class="card mb-3 form-group">
        <form (submit)="onEditSubmit(travel._id)" >
          <h3 class="card-header">{{ travel.title }}
            <button type="submit" mat-raised-button class="btn btn-primary">Edit</button>
          </h3>
        </form>
        <div class="card-body">
          <h5 class="card-title">{{ travel.destination }}</h5>
          <h6 class="card-subtitle text-muted" *ngIf="travel.startDate">{{ travel.startDate }} - {{ travel.endDate }}</h6>
        </div>
        <img mat-card-image *ngIf="travel.heroImg" src="{{ travel.heroImg }}" alt="" width="100%" height="100%"/> 
        <div class="card-body">
          <p class="card-text">{{ travel.description }}</p>
        </div>
      </div>
    </div>
  </div> 
</div>
