<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="authService.isTokenExpired()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link" [routerLink]="['/']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li *ngIf="!authService.isTokenExpired()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link">“Travel changes you. As you move through this life and this world, you change things slightly, you leave marks behind, however small. <br>And in return, life — and travel leaves marks on you.” — Anthony Bourdain
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li *ngIf="authService.isTokenExpired()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="authService.isTokenExpired()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-sm-2">
        <li *ngIf="!authService.isTokenExpired()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link" [routerLink]="['/profile']">Profile</a>
        </li>
        <li *ngIf="!authService.isTokenExpired()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li *ngIf="!authService.isTokenExpired()" class="nav-item">
          <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
