<div class="jumbotron text-center">
    <h1>Carnet-de-Route : Travelogue
        <p class="lead">Are you smitten by the travel bug? then you are at the right place! Welcome to your personal travel space - 'carnet de route' </p>
    </h1>
    <div>
        <a class="btn btn-primary" [routerLink] = "['/register']">Register</a>
        <a class="btn btn-outline-primary" [routerLink] = "['/login']">Login</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card border-primary mb-3" style="max-width: 30rem;">
            <div class="card-header">Take Action</div>
            <div class="card-body">
                <h4 class="card-title">Register Now!</h4>
                <p class="card-text">Register and login to our website and you will never be away from your vacations. Register now and get a chance to win your next vacation absolutely free. No strings attached! Take this opportunity to explore, relax and unwind.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-primary mb-3" style="max-width: 30rem;">
            <div class="card-header">Explore</div>
            <div class="card-body">
                <h4 class="card-title">What's In Store</h4>
                <p class="card-text">Carnet-de-Route (well... Travelogue in plain english) will be your go to app when you travel. It will be your personal companion. You can add your memories and look back and feel nostalgic about them.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-primary mb-3" style="max-width: 30rem;">
            <div class="card-header">Unwind</div>
            <div class="card-body">
                <h4 class="card-title">What's More</h4>
                <p class="card-text">Apart from a travel diary you get a lot of goodies such as weather info, latest nearby activities, hangout places, etc, etc, etc. This will help you plan your day ahead. It is an all-in-one app for your travel need.</p>
            </div>
        </div>
    </div>
</div>