.hero-image {
    background-image: url("./../images/beach.jpg");
    background-color: #cccccc;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }