<div class="row">
    <!-- This is showing users information -->
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form (submit)="onLoginSubmit()">
                        <div class="form-group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label class="mb-1">User-Name</mat-label>
                                <input required type="text" matInput [(ngModel)]="username" name="username" class="form-control"/>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label class="mb-1">Password</mat-label>
                                <input required type="password" matInput [(ngModel)]="password" name="password" class="form-control"/>
                            </mat-form-field>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
