<div *ngIf="user" class="row">
    <div class="col-lg-12">
      <h2>{{ user.name }}</h2>
    </div>
</div>

<div class="row" *ngIf="user">
    <!-- This is showing users information -->
    <div class="col-lg-6">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Your Info</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Username: {{ user.username }}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Email: {{ user.email }}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Date Of Birth: {{ user.dob }}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Interests: {{ user.interests }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- This is change password card-->
    <div class="col-lg-6">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 40rem;">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form (submit)="onChangePasswordSubmit()" >
                        <fieldset>
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="oldPassword" name="oldPassword" placeholder="old password...">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" placeholder="new password...">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="confirm new password...">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row" *ngIf="user">
    <!-- This is a text area-->
    <div class="col-lg-12">
        <div class="bs-component">
            <div class="card border-primary mb-3" style="max-width: 70rem;">
                <div class="card-header">I scribble... </div>
                <div class="card-body">
                    <form (submit)="onScribbleSubmit()" >
                        <fieldset>
                            <div class="form-group">
                                <textarea class="form-control" [(ngModel)]="user.scribble" name="scribble" rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



