<div class="toast show" style="max-width: 35rem;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="mr-auto">Upcoming Events... </strong>
    </div>
    <div class="toast-body">
        <table class="table table-hover">
                <tbody>
                    <div style="overflow:scroll;height:137px;">
                    <tr *ngFor="let event of events">
                        <td width="40%" title="{{event.description}}" *ngIf="event.description"><strong>{{ event.title }}</strong><small> (hover for desc)</small></td>
                        <td width="40%" title="{{event.description}}" *ngIf="!event.description">{{ event.title }}</td>
                        <td width="20%">{{ event.category }}</td>
                        <td width="40%">{{ event.start }} - {{ event.end }}</td>
                    </div>
                </tbody>
            </table>
    </div>
</div>


