<div class="toast show" style="max-width: 70rem;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="mr-auto">Bon Voyage! </strong>
    </div>
    <div class="toast-body">
        <form (submit)="onTravelSubmit()" >
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label class="mb-1">Title</mat-label>
                                <input required type="text" matInput [(ngModel)]="travel.title" name="title" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label class="mb-1">Where to?</mat-label>
                                <!--<input type="text" maxlength="20" matInput [(ngModel)]="travel.destination" name="destination" class="form-control" /> -->
                                <input ngx-google-places-autocomplete matInput [options]='options' [(ngModel)]="travel.destination" name="destination" (onAddressChange)="AddressChange($event)"/> 
                                <input type="hidden" [(ngModel)]="userId" name="userId" class="form-control" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field color="accent" appearance="outline">
                            <mat-label class="mb-1">Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input readonly name="startDate" [(ngModel)]="travel.startDate" matStartDate matInput placeholder="Start date">
                                <input readonly name="endDate" [(ngModel)]="travel.endDate" matEndDate matInput placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <mat-form-field color="accent" appearance="outline">
                                <mat-label class="mb-1">What Plans?</mat-label>
                                <textarea type="text" [maxLength]="200" rows="2" matInput [(ngModel)]="travel.description" name="description" ></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">    
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <app-events *ngIf="travel._id" [locName]="travel.destination"></app-events>
    </div>
    <div class="col-lg-6">
        <app-current-weather *ngIf="travel._id" [locName]="travel.destination"></app-current-weather>
    </div>
</div>
<br>
<app-gallery-details *ngIf="travel._id"></app-gallery-details>



