<div class="toast show" style="max-width: 35rem;" role="alert" aria-live="assertive" aria-atomic="true" *ngIf='resultFound()'>
    <div class="toast-header">
      <strong class="mr-auto">Current weather in {{currentWeather.name}} </strong>
    </div>
    <div class="toast-body">
        <table *ngIf='resultFound()'>
            <tbody>
                <tr>
                <td><strong> Temperature:</strong></td>
                <td>{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
                <td><strong>Maximum Temperature:</strong></td>
                <td>{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
                <td><strong>Minimum Temperature:</strong></td>
                <td>{{currentWeather.main?.temp_min - 273.15 | number:'1.0-0'}}<sup>o</sup>C</td>
                </tr>
                <tr>
                <td><strong>Clouds:</strong></td>
                <td>{{currentWeather.clouds?.all}}%</td>
                <td><strong>Humidity</strong></td>
                <td>{{currentWeather.main?.humidity}}%</td>
                <td><strong>Pressure</strong></td>
                <td>{{currentWeather.main?.pressure}}mb</td>
                </tr>
                <tr>
                <td><strong>Sunrise</strong></td>
                <td>{{currentWeather.sys?.sunrise*1000 | date:'long'}}</td>
                <td><strong>Sunset</strong></td>
                <td>{{currentWeather.sys?.sunset*1000 | date:'long'}}</td>
                <td><strong>Visibility</strong></td>
                <td>{{currentWeather.visibility}}m</td>
                </tr>
            </tbody>
            </table>
    </div>
  </div>
